# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
.env
.env.*

# Node/React
node_modules/
build/
dist/
.npm/
.npmrc
package-lock.json
yarn.lock

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# PyCharm
.idea/

# Test/coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Frontend env
frontend/.env

# Backend env
backend/.env

# Misc
*.bak
*.swp
*.swo
*.tmp 